.events {
  border: 2px solid #EEF1FF;
  width: 340px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-sizing:border-box;
	display: inline-block;
  box-shadow: 0px 4px 4px #EEF1FF;

  hr {
    border: 1px solid #EEF1FF;
  }

  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 34px;
  }
}