.news {
    h3 {
      font-weight: 400;
      margin-bottom: 19px;
    }

    margin-bottom: 70px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;

  button {
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    border: none;
    height: 20px;
    cursor: pointer;
  }
}