.card {
  margin: 150px auto;
  border: 2px solid #EEF1FF;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-sizing:border-box;
	display: inline-block;
  box-shadow: 0px 4px 4px #EEF1FF;
}

.input {
  margin-top: 10px;
}