.hr_style {
  border: 1px solid #EEF1FF; 
}

.amount {
  min-width: 70px;
}

.tag {
  margin: 5px;
  padding: 5px;
  border: 1px solid #EEF1FF;
  border-radius: 7px;
  background-color: #1538F5;
  color: #fff;
}